@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-calendar-heatmap text {
  font-size: 8px !important;
  fill: #001017 !important;
}

.mypointer {
  cursor: help;
}

.color-empty {
  fill: #eeeeee; /* Cor para células sem valor */
  cursor: not-allowed;
}

/* mais escuro */
.color-scale-1 {
  fill: #0c577a;
}

.color-scale-2 {
  fill: #1f87b7;
}

/* mais claro */
.color-scale-3 {
  fill: #2fbdff;
}
